{
  "openapi": "3.0.3",
  "info": {
    "title": "TestQuorum API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "0.1.362"
  },
  "servers": [
    {
      "url": "https://api.testquorum.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/auth/api-keys": {
      "get": {
        "tags": [
          "api-keys"
        ],
        "operationId": "list_api_keys",
        "parameters": [
          {
            "name": "repo_id",
            "in": "query",
            "description": "When set, only return keys owned by this repository",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys belonging to the authenticated account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - requires an administrator key"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "api-keys"
        ],
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created. The `secret` field is shown once and never again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid scope/owner combination, unknown repo, or display name too long"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - requires an administrator key"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/api-keys/{key_id}": {
      "delete": {
        "tags": [
          "api-keys"
        ],
        "operationId": "delete_api_key",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The key id returned by create or list",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "API key deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - requires an administrator key, or attempted to delete a UI session key (use POST /auth/logout instead)"
          },
          "404": {
            "description": "API key not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/api-keys/{key_id}/rotate": {
      "post": {
        "tags": [
          "api-keys"
        ],
        "operationId": "rotate_api_key",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The key id returned by create or list",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Old secret revoked, new secret issued. The `secret` field is shown once and never again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid expires_in_days"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - requires an administrator key, or the target is a UI session key"
          },
          "404": {
            "description": "API key not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Logged out successfully"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "403": {
            "description": "Forbidden - persistent API keys cannot log out; revoke them via DELETE /auth/api-keys/{key_id}"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/onboarding-seen": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "mark_onboarding_seen",
        "responses": {
          "200": {
            "description": "Onboarding marked as seen"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "403": {
            "description": "Forbidden - requires an administrator key"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/session": {
      "get": {
        "tags": [
          "auth"
        ],
        "operationId": "session_info",
        "responses": {
          "200": {
            "description": "Session information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "list_billing",
        "responses": {
          "200": {
            "description": "Repositories with subscription status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingRepo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - billing actions require an administrator key"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/cancel": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "cancel_subscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Subscription cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - billing actions require an administrator key"
          },
          "404": {
            "description": "Repository or subscription not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/checkout": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "start_checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Checkout session created or subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - billing actions require an administrator key"
          },
          "404": {
            "description": "Repository not found"
          },
          "409": {
            "description": "Quote expired, or the requested currency conflicts with the existing subscription"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/checkout/complete": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "complete_checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteCheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Subscription bootstrap completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteCheckoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - billing actions require an administrator key"
          },
          "404": {
            "description": "Checkout session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/portal": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "open_portal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Billing portal session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - billing actions require an administrator key"
          },
          "404": {
            "description": "No billing account on file for this user"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/github/auth/exchange": {
      "post": {
        "tags": [
          "github"
        ],
        "operationId": "exchange_workflow_auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credential issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed challenge or signature"
          },
          "401": {
            "description": "Verification failed: signature, expired challenge, repo mismatch, or missing app install. Collapsed into one response so callers cannot probe which check failed"
          },
          "403": {
            "description": "GitHub App install lacks actions: read permission - the repo owner must re-authorize the app"
          },
          "409": {
            "description": "Artifact not yet visible via GitHub API - retry after a few seconds"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/github/auth/initiate": {
      "post": {
        "tags": [
          "github"
        ],
        "operationId": "initiate_workflow_auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Challenge issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed repository or public key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/mailing-list": {
      "post": {
        "tags": [
          "mailing-list"
        ],
        "operationId": "subscribe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailingListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or captcha failed"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/quote": {
      "get": {
        "tags": [
          "quote"
        ],
        "operationId": "get_quote",
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "503": {
            "description": "No valid quote available"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/repos": {
      "get": {
        "tags": [
          "repos"
        ],
        "operationId": "list_repos",
        "responses": {
          "200": {
            "description": "Repositories the caller has a role on: those whose subscription belongs to the caller, and those where the caller was granted a role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RepoResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/members": {
      "get": {
        "tags": [
          "members"
        ],
        "operationId": "list_members",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts with an access role on this repository",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MemberResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid repository id"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "403": {
            "description": "Forbidden - requires an administrator key and an admin role on the repository"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "members"
        ],
        "operationId": "add_member",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMemberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Role granted; re-granting to the same account overwrites the previous role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid repository id, unknown login, or the login already holds the billing admin role"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "403": {
            "description": "Forbidden - only the billing admin may manage members, with an administrator key"
          },
          "404": {
            "description": "Repository not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/members/{user_id}": {
      "delete": {
        "tags": [
          "members"
        ],
        "operationId": "remove_member",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "Stable account identifier from the members list (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Role revoked"
          },
          "400": {
            "description": "Bad request - invalid repository id or user id"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "403": {
            "description": "Forbidden - only the billing admin may manage members, with an administrator key"
          },
          "404": {
            "description": "Repository or member not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/test-groups": {
      "post": {
        "tags": [
          "test-groups"
        ],
        "operationId": "create_test_group",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateTestGroupRequest"
                  }
                ],
                "nullable": true
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Test group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTestGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid repository id, or a check target that does not fit the repository (e.g. a GitHub workflow run target on a non-GitHub repository)"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "402": {
            "description": "Payment required - this repository does not have an active subscription"
          },
          "403": {
            "description": "Forbidden - read-only key, or the check target names a workflow run attempt other than the one the credential was issued for"
          },
          "404": {
            "description": "Repository not found"
          },
          "429": {
            "description": "Rate limit exceeded; try again after `Retry-After` seconds"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/test-groups/{group_id}/queue": {
      "get": {
        "tags": [
          "test-groups"
        ],
        "operationId": "get_queue_page",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Test group identifier (UUIDv7)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor returned by the previous `/queue` call. Encoded as a\ndecimal `rank` value; pass the previous response's\n`next_cursor` verbatim. Omit on the first call.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of entries to return. Defaults to 256, clamped\nto a server-side maximum of 1024.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next page of incomplete entries in rank order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuePageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid repository id, group id, or query parameter"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "402": {
            "description": "Payment required - this repository does not have an active subscription"
          },
          "403": {
            "description": "Forbidden - caller's scope is not a superset of the group's owner"
          },
          "404": {
            "description": "Repository or test group not found"
          },
          "429": {
            "description": "Rate limit exceeded; try again after `Retry-After` seconds"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/test-groups/{group_id}/rank": {
      "post": {
        "tags": [
          "test-groups"
        ],
        "operationId": "rank_test_group",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Test group identifier (UUIDv7)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranks stamped on every entry in the group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid repository id or group id"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "402": {
            "description": "Payment required - this repository does not have an active subscription"
          },
          "403": {
            "description": "Forbidden - read-only key, or caller's permissions are not a superset of the group's owner"
          },
          "404": {
            "description": "Repository or test group not found"
          },
          "429": {
            "description": "Rate limit exceeded; try again after `Retry-After` seconds"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/test-groups/{group_id}/tests": {
      "get": {
        "tags": [
          "test-groups"
        ],
        "operationId": "list_test_group_tests",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Test group identifier (UUIDv7)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor from the previous page's `next_cursor`. The returned page\nstarts strictly after this test id. Omit on the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of entries to return. Defaults to 256, clamped to\na server-side maximum of 1024.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the group's tests in id order. The `ETag` is the group's last-changed marker; pass it back as `If-None-Match` on page one to get a `304` while nothing has changed. Test groups in public repositories are readable without authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestGroupTestsPage"
                }
              }
            }
          },
          "304": {
            "description": "Not modified since the supplied `If-None-Match`"
          },
          "400": {
            "description": "Bad request - invalid repository id, group id, or query parameter"
          },
          "404": {
            "description": "Test group not found, or the caller lacks read access to it. Test groups in private repositories require a Bearer token with read access."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/repos/{repo_id}/test-results": {
      "post": {
        "tags": [
          "test-results"
        ],
        "operationId": "submit_test_results",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTestResultsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Test results recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitTestResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid repository id, non-v7 UUID, or batch exceeds 1024 entries"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "402": {
            "description": "Payment required - this repository does not have an active subscription"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Repository not found"
          },
          "409": {
            "description": "Conflict - an `id` already exists and the submitted state is not a forward progression from the stored one (e.g. Passed -> Failed at the terminal stage, or any backwards move). The body has `conflict_id` (the offending id) and `created` (ids written before the conflict, in submission order); ids after the conflict were not attempted."
          },
          "429": {
            "description": "Rate limit exceeded; try again after `Retry-After` seconds"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/repos/{repo_id}/test-results/{id}": {
      "get": {
        "tags": [
          "test-results"
        ],
        "operationId": "get_test_result",
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "description": "Repository identifier (e.g. `github:12345`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Test result identifier (UUIDv7)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current test result. The `ETag` is its last-changed marker; pass it back as `If-None-Match` to get a `304` while the result is unchanged — a terminal result never changes again. Test results in public repositories are readable without authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResultDoc"
                }
              }
            }
          },
          "304": {
            "description": "Not modified since the supplied `If-None-Match`"
          },
          "400": {
            "description": "Bad request - invalid repository id or test id"
          },
          "404": {
            "description": "Test result not found, or the caller lacks read access. Test results in private repositories require a Bearer token with read access."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/schedule-call": {
      "post": {
        "tags": [
          "schedule-call"
        ],
        "operationId": "schedule_call",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or captcha failed"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddMemberRequest": {
        "type": "object",
        "required": [
          "login",
          "role"
        ],
        "properties": {
          "login": {
            "type": "string",
            "description": "The new member's login on the repository's forge."
          },
          "role": {
            "$ref": "#/components/schemas/GrantableRole"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "key_id",
          "key_prefix",
          "display_name",
          "permission",
          "scope",
          "owner_kind",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "$ref": "#/components/schemas/EpochSecs"
          },
          "display_name": {
            "type": "string"
          },
          "expires_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EpochSecs"
              }
            ],
            "nullable": true
          },
          "key_id": {
            "type": "string",
            "description": "Stable identifier for this key, used in delete and rotate\nrequests."
          },
          "key_prefix": {
            "type": "string",
            "description": "First eight characters of the secret, safe to display."
          },
          "owner_kind": {
            "$ref": "#/components/schemas/PublicKeyOwnerKind"
          },
          "permission": {
            "$ref": "#/components/schemas/PublicKeyPermission"
          },
          "scope": {
            "$ref": "#/components/schemas/PublicKeyScope"
          }
        }
      },
      "BillingRepo": {
        "type": "object",
        "required": [
          "repo_id",
          "full_name"
        ],
        "properties": {
          "full_name": {
            "type": "string"
          },
          "repo_id": {
            "type": "string"
          },
          "subscription": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BillingSubscription"
              }
            ],
            "nullable": true
          }
        }
      },
      "BillingSubscription": {
        "type": "object",
        "description": "Information about billing for a repository.",
        "required": [
          "tier",
          "cadence",
          "currency",
          "status",
          "current_period_end",
          "unit_amount_cents",
          "last_synced_at"
        ],
        "properties": {
          "cadence": {
            "$ref": "#/components/schemas/Cadence"
          },
          "cancel_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EpochSecs"
              }
            ],
            "nullable": true
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "current_period_end": {
            "$ref": "#/components/schemas/EpochSecs"
          },
          "last_synced_at": {
            "$ref": "#/components/schemas/EpochSecs"
          },
          "status": {
            "$ref": "#/components/schemas/SubscriptionStatus"
          },
          "tier": {
            "$ref": "#/components/schemas/Tier"
          },
          "unit_amount_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "Cadence": {
        "type": "string",
        "enum": [
          "monthly",
          "annual"
        ]
      },
      "CancelRequest": {
        "type": "object",
        "required": [
          "repo_id"
        ],
        "properties": {
          "repo_id": {
            "type": "string"
          }
        }
      },
      "CancelResponse": {
        "type": "object",
        "properties": {
          "active_until": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EpochSecs"
              }
            ],
            "nullable": true
          }
        }
      },
      "CheckTarget": {
        "oneOf": [
          {
            "type": "object",
            "description": "Publish to the commit checked by a GitHub Actions workflow run.\nThe check appears on the same commit GitHub associates the\nrun's own checks with, so it shows wherever that run does — a\npull request, a merge queue entry, or a branch push.",
            "required": [
              "run_id",
              "run_attempt",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "github_workflow_run"
                ]
              },
              "run_attempt": {
                "type": "integer",
                "format": "int32",
                "description": "The attempt number of the run, as given by the\n`GITHUB_RUN_ATTEMPT` environment variable. Re-running a\nworkflow keeps its run id and increments the attempt; the\ncheck reflects the group from the highest attempt.",
                "minimum": 0
              },
              "run_id": {
                "type": "integer",
                "format": "int64",
                "description": "The workflow run identifier, as given by the\n`GITHUB_RUN_ID` environment variable inside the run.",
                "minimum": 0
              }
            }
          }
        ],
        "description": "Where to publish a commit check reflecting a test group's outcome.\n\nSupplied when the group is created. A group created without a\ncheck target never publishes a check.",
        "discriminator": {
          "propertyName": "kind"
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "repo_id",
          "tier",
          "cadence",
          "currency",
          "quote_id"
        ],
        "properties": {
          "cadence": {
            "$ref": "#/components/schemas/Cadence"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "quote_id": {
            "type": "string"
          },
          "repo_id": {
            "type": "string"
          },
          "tier": {
            "$ref": "#/components/schemas/Tier"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "checkout_url": {
            "type": "string",
            "description": "Hosted checkout URL the dashboard should redirect the user to.\nSet when payment-method collection is needed (the user has no\nactive subscription yet).",
            "nullable": true
          },
          "updated": {
            "type": "boolean",
            "description": "True when the repo's item was added to an existing subscription\nwithout any payment-method collection step.",
            "nullable": true
          }
        }
      },
      "Commit": {
        "type": "object",
        "description": "A git commit identified by SHA and by its linear height in the\nsource repository. `height` is submitted by the client because\nthe server has no access to the repo graph; it lets analytics\nreason about distance between commits without walking history.",
        "required": [
          "sha",
          "height"
        ],
        "properties": {
          "height": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "sha": {
            "type": "string"
          }
        }
      },
      "CompleteCheckoutRequest": {
        "type": "object",
        "required": [
          "session_id"
        ],
        "properties": {
          "session_id": {
            "type": "string",
            "description": "The checkout session id returned to the dashboard via the\nsuccess_url after the user submitted their payment details."
          }
        }
      },
      "CompleteCheckoutResponse": {
        "type": "object"
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": [
          "display_name",
          "permission",
          "scope",
          "owner_kind"
        ],
        "properties": {
          "display_name": {
            "type": "string",
            "description": "Human-readable label shown in the dashboard."
          },
          "expires_in_days": {
            "type": "integer",
            "format": "int64",
            "description": "Number of days until the key expires. Omit for no expiry.\nWhen present, must be in the range 1..=3650.",
            "nullable": true,
            "minimum": 0
          },
          "owner_kind": {
            "$ref": "#/components/schemas/PublicKeyOwnerKind"
          },
          "permission": {
            "$ref": "#/components/schemas/PublicKeyPermission"
          },
          "scope": {
            "$ref": "#/components/schemas/PublicKeyScope"
          }
        }
      },
      "CreateTestGroupRequest": {
        "type": "object",
        "properties": {
          "check_target": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CheckTarget"
              }
            ],
            "nullable": true
          }
        }
      },
      "CreateTestGroupResponse": {
        "type": "object",
        "required": [
          "group_id"
        ],
        "properties": {
          "group_id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable identifier for the new group. Use this on every\nsubsequent grouped test-result submission and on the `/rank`\nand `/queue` calls. UUIDv7."
          }
        }
      },
      "CreatedApiKeyResponse": {
        "type": "object",
        "required": [
          "key_id",
          "key_prefix",
          "display_name",
          "permission",
          "scope",
          "owner_kind",
          "created_at",
          "secret"
        ],
        "properties": {
          "created_at": {
            "$ref": "#/components/schemas/EpochSecs"
          },
          "display_name": {
            "type": "string"
          },
          "expires_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EpochSecs"
              }
            ],
            "nullable": true
          },
          "key_id": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "owner_kind": {
            "$ref": "#/components/schemas/PublicKeyOwnerKind"
          },
          "permission": {
            "$ref": "#/components/schemas/PublicKeyPermission"
          },
          "scope": {
            "$ref": "#/components/schemas/PublicKeyScope"
          },
          "secret": {
            "type": "string",
            "description": "The full secret. Returned once at creation/rotation only and\nnever recoverable afterwards."
          }
        }
      },
      "Currency": {
        "type": "string",
        "enum": [
          "eur",
          "usd",
          "gbp"
        ]
      },
      "CurrencyPrices": {
        "type": "object",
        "required": [
          "eur",
          "usd",
          "gbp"
        ],
        "properties": {
          "eur": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "gbp": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "EpochSecs": {
        "type": "integer",
        "format": "int64",
        "description": "Unix epoch seconds.",
        "minimum": 0
      },
      "ExchangeRequest": {
        "type": "object",
        "required": [
          "challenge",
          "signature"
        ],
        "properties": {
          "challenge": {
            "type": "string",
            "description": "The exact challenge value returned by `/initiate`."
          },
          "signature": {
            "type": "string",
            "description": "Base64url-encoded (no padding) ed25519 signature over\n`b\"testquorum-exchange-v1:\" || challenge_bytes`. Signed with\nthe private key whose public half was sent to `/initiate`."
          }
        }
      },
      "ExchangeResponse": {
        "type": "object",
        "required": [
          "api_key",
          "key_id",
          "expires_at"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Bearer token to send as `Authorization: Bearer <api_key>` on\nsubsequent requests. Shown once and never recoverable."
          },
          "expires_at": {
            "$ref": "#/components/schemas/EpochSecs"
          },
          "key_id": {
            "type": "string",
            "description": "Stable identifier for the minted credential (for audit /\nfuture revocation surfaces)."
          }
        }
      },
      "GrantableRole": {
        "type": "string",
        "description": "A role that can be granted to a repository member. Subscription\nownership is not grantable.",
        "enum": [
          "admin"
        ]
      },
      "InitiateRequest": {
        "type": "object",
        "required": [
          "repository",
          "workflow_run_id",
          "run_attempt",
          "public_key"
        ],
        "properties": {
          "public_key": {
            "type": "string",
            "description": "Base64url-encoded (no padding) 32-byte ed25519 public key. The\nmatching private key never leaves the workflow runner and is\nused to sign the exchange request."
          },
          "repository": {
            "type": "string",
            "description": "`owner/repo`, exactly as `$GITHUB_REPOSITORY` reports in the\nworkflow."
          },
          "run_attempt": {
            "type": "integer",
            "format": "int32",
            "description": "`$GITHUB_RUN_ATTEMPT` — increments on each manual re-run.",
            "minimum": 0
          },
          "workflow_run_id": {
            "type": "integer",
            "format": "int64",
            "description": "`$GITHUB_RUN_ID` — globally-unique identifier for the workflow\nrun.",
            "minimum": 0
          }
        }
      },
      "InitiateResponse": {
        "type": "object",
        "required": [
          "challenge",
          "artifact_name",
          "artifact_filename",
          "expires_at"
        ],
        "properties": {
          "artifact_filename": {
            "type": "string",
            "description": "The single file the artifact must contain. Its body must equal\nthe challenge value verbatim (no trailing whitespace)."
          },
          "artifact_name": {
            "type": "string",
            "description": "The artifact name the workflow must use when uploading."
          },
          "challenge": {
            "type": "string",
            "description": "Single-use challenge string the workflow must include in its\nuploaded artifact."
          },
          "expires_at": {
            "$ref": "#/components/schemas/EpochSecs"
          }
        }
      },
      "MailingListRequest": {
        "type": "object",
        "required": [
          "email",
          "turnstile_token"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "turnstile_token": {
            "type": "string"
          }
        }
      },
      "MailingListResponse": {
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "MemberResponse": {
        "type": "object",
        "required": [
          "user_id",
          "login",
          "role"
        ],
        "properties": {
          "granted_at": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EpochSecs"
              }
            ],
            "nullable": true
          },
          "login": {
            "type": "string",
            "description": "The member's login on the repository's forge, captured when\naccess was granted."
          },
          "role": {
            "$ref": "#/components/schemas/MemberRole"
          },
          "user_id": {
            "type": "string",
            "description": "Stable account identifier (e.g. `github:12345`). Use it as the\n`{user_id}` path segment when removing the member."
          }
        }
      },
      "MemberRole": {
        "type": "string",
        "description": "The access role an account holds on a repository.",
        "enum": [
          "billing_admin",
          "admin"
        ]
      },
      "PortalRequest": {
        "type": "object"
      },
      "PortalResponse": {
        "type": "object",
        "required": [
          "portal_url"
        ],
        "properties": {
          "portal_url": {
            "type": "string"
          }
        }
      },
      "PublicKeyOwnerKind": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "account"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "repo_id",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "repo"
                ]
              },
              "repo_id": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "repo_id",
              "workflow_id",
              "workflow_run_id",
              "run_attempt",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "workflow"
                ]
              },
              "repo_id": {
                "type": "string"
              },
              "run_attempt": {
                "type": "integer",
                "format": "int32",
                "minimum": 0
              },
              "workflow_id": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              },
              "workflow_run_id": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              }
            }
          }
        ],
        "description": "Where a key is logically owned. `account` keys are managed under\nthe user's account settings; `repo` keys are managed under a\nspecific repository's settings; `workflow` keys are minted by the\nGitHub Actions auth flow and not user-manageable.",
        "discriminator": {
          "propertyName": "kind"
        }
      },
      "PublicKeyPermission": {
        "type": "string",
        "description": "Permission level granted to a user-managed API key. Persistent keys\ncan only be `read` or `read_write`; `admin` is reserved for the\nOAuth-issued UI session.",
        "enum": [
          "read",
          "read_write"
        ]
      },
      "PublicKeyScope": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "all_repos"
                ]
              }
            }
          },
          {
            "type": "object",
            "description": "Grants access to a specific non-empty list of repository ids.",
            "required": [
              "repo_ids",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "repos"
                ]
              },
              "repo_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          {
            "type": "object",
            "description": "Grants access only to resources owned by a specific GitHub\nActions workflow run. Minted exclusively by\n`POST /github/auth/exchange`; rejected if supplied to the\nuser-managed key creation endpoint.",
            "required": [
              "repo_id",
              "workflow_id",
              "workflow_run_id",
              "run_attempt",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "workflow"
                ]
              },
              "repo_id": {
                "type": "string"
              },
              "run_attempt": {
                "type": "integer",
                "format": "int32",
                "minimum": 0
              },
              "workflow_id": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              },
              "workflow_run_id": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              }
            }
          }
        ],
        "description": "The set of repositories an API key can act on.",
        "discriminator": {
          "propertyName": "kind"
        }
      },
      "QueuePageResponse": {
        "type": "object",
        "required": [
          "tests"
        ],
        "properties": {
          "next_cursor": {
            "type": "integer",
            "format": "int32",
            "description": "Cursor for the next page, or `null` if the current page is the\nfinal one. Pass this value verbatim as `after=` on the next\n`/queue` call.",
            "nullable": true,
            "minimum": 0
          },
          "tests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestResultDoc"
            },
            "description": "Next batch of test results, in rank order. Entries may have\ntransitioned to a terminal state by the time the runner reads\nthem. The cost reported to the bill is one unit of class C\nper entry returned."
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "description": "A pricing quote response containing subscription tiers and pricing information.",
        "required": [
          "quote_id",
          "created_at",
          "valid_until",
          "tiers"
        ],
        "properties": {
          "created_at": {
            "$ref": "#/components/schemas/EpochSecs"
          },
          "quote_id": {
            "type": "string"
          },
          "tiers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TierPrices"
            }
          },
          "valid_until": {
            "$ref": "#/components/schemas/EpochSecs"
          }
        }
      },
      "RankResponse": {
        "type": "object",
        "required": [
          "ranked"
        ],
        "properties": {
          "ranked": {
            "type": "integer",
            "format": "int64",
            "description": "Number of entries in the test group at the time `/rank` was\ncalled. Every entry has its `rank` field stamped on each call,\nso re-calling `/rank` produces a fresh ordering. The cost\nreported to the bill is `max(1, ranked)` units of class A — an\nempty group still bills one unit for the dispatch.",
            "minimum": 0
          }
        }
      },
      "RepoResponse": {
        "type": "object",
        "required": [
          "full_name",
          "source",
          "source_id",
          "state",
          "role"
        ],
        "properties": {
          "full_name": {
            "type": "string"
          },
          "instance": {
            "type": "string",
            "description": "Only set for Gitea repos: the instance slug identifying which\nGitea host the repo lives on. Absent for GitHub.",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/MemberRole"
          },
          "source": {
            "$ref": "#/components/schemas/RepoSource"
          },
          "source_id": {
            "type": "integer",
            "format": "int64",
            "description": "Forge-issued numeric identifier for the repository. For Gitea,\nthis is instance-scoped — combine with `instance` for a\nglobally unique reference.",
            "minimum": 0
          },
          "state": {
            "$ref": "#/components/schemas/RepoState"
          },
          "trial_available": {
            "type": "boolean",
            "description": "True when this repository is eligible for the introductory free trial.\nOnce a trial has ever been started on the repo this becomes false and\nnever returns to true. Present only for the billing admin; other\nroles see no trial or subscription details.",
            "nullable": true
          }
        }
      },
      "RepoSource": {
        "type": "string",
        "description": "The forge that hosts this repository.",
        "enum": [
          "github",
          "gitea"
        ]
      },
      "RepoState": {
        "type": "string",
        "description": "The subscription state of a repository.",
        "enum": [
          "inactive",
          "active"
        ]
      },
      "RotateApiKeyRequest": {
        "type": "object",
        "properties": {
          "expires_in_days": {
            "type": "integer",
            "format": "int64",
            "description": "Number of days until the new secret expires. Omit for no\nexpiry. The new value replaces the old one — rotation does not\ninherit the previous expiry. Must be in the range 1..=3650 when\npresent.",
            "nullable": true,
            "minimum": 0
          }
        }
      },
      "Run": {
        "type": "object",
        "description": "The CI run that produced a test result.",
        "required": [
          "head",
          "kind"
        ],
        "properties": {
          "head": {
            "$ref": "#/components/schemas/Commit"
          },
          "kind": {
            "$ref": "#/components/schemas/RunKind"
          }
        }
      },
      "RunKind": {
        "oneOf": [
          {
            "type": "object",
            "description": "Pre-review check: `head` is the proposed branch tip,\n`merge_base` is where the branch diverged from its target.",
            "required": [
              "merge_base",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "diff"
                ]
              },
              "merge_base": {
                "$ref": "#/components/schemas/Commit"
              }
            }
          },
          {
            "type": "object",
            "description": "Pre-land check: `head` is a candidate merge commit,\n`merge_base` is its first parent on the destination branch.",
            "required": [
              "merge_base",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "land"
                ]
              },
              "merge_base": {
                "$ref": "#/components/schemas/Commit"
              }
            }
          },
          {
            "type": "object",
            "description": "Deprecated: use `PostLand` instead. Post-merge check: `head` is the\nnew tip of the destination branch, `merge_base` is its parent (the\nprevious tip). This variant is retained for backward compatibility but\nwill be removed in a future release.",
            "required": [
              "merge_base",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "merge"
                ]
              },
              "merge_base": {
                "$ref": "#/components/schemas/Commit"
              }
            }
          },
          {
            "type": "object",
            "description": "Post-land check: `head` is the tip of the branch at the time the job\nran, `branch` is the branch name, and `trigger` is the reason it ran.",
            "required": [
              "branch",
              "trigger",
              "kind"
            ],
            "properties": {
              "branch": {
                "type": "string"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "post_land"
                ]
              },
              "trigger": {
                "$ref": "#/components/schemas/Trigger"
              }
            }
          }
        ],
        "description": "What kind of run this is, together with the merge-base commit it\nis being compared against.",
        "discriminator": {
          "propertyName": "kind"
        }
      },
      "ScheduleCallRequest": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email",
          "turnstile_token"
        ],
        "properties": {
          "company": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "team_size": {
            "type": "string",
            "nullable": true
          },
          "turnstile_token": {
            "type": "string"
          }
        }
      },
      "ScheduleCallResponse": {
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "required": [
          "display_name",
          "onboarding_seen"
        ],
        "properties": {
          "display_name": {
            "type": "string"
          },
          "onboarding_seen": {
            "type": "boolean",
            "description": "Whether the user has completed the first-time onboarding flow."
          }
        }
      },
      "SubmitTestResultsRequest": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestResultDoc"
            },
            "description": "Test instances to submit. Each entry must carry a UUIDv7 the\nclient mints once and reuses across lifecycle transitions\n(Discovered → Running → terminal). A resubmit of a known\n`id` lands iff the new state is a forward progression from\nthe stored one, or an idempotent re-submit of the same\nvariant; non-forward resubmits (e.g. Passed → Failed, or a\nbackwards move) are rejected with 409. The same rule applies\nto multiple entries for the same `id` within a single batch.\nAt most 1024 entries per request."
          }
        }
      },
      "SubmitTestResultsResponse": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUIDs of the test instances that were created, in the order\nthey appeared in the request."
          }
        }
      },
      "SubscriptionStatus": {
        "type": "string",
        "enum": [
          "incomplete",
          "incomplete_expired",
          "trialing",
          "active",
          "past_due",
          "canceled",
          "unpaid",
          "paused"
        ]
      },
      "TestGroupTestsPage": {
        "type": "object",
        "required": [
          "tests"
        ],
        "properties": {
          "next_cursor": {
            "type": "string",
            "format": "uuid",
            "description": "Cursor for the next page, or absent on the final page. Pass it\nverbatim as `after` on the next call.",
            "nullable": true
          },
          "tests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestResultDoc"
            },
            "description": "Member tests for this page, ordered by test id. The ordering is\nstable: a test never changes position as its state advances, so\npaging never skips or repeats an entry even while results are\nstill landing."
          }
        }
      },
      "TestManager": {
        "oneOf": [
          {
            "type": "string",
            "title": "WellKnownTestManager",
            "description": "A built-in test manager.",
            "enum": [
              "cargo",
              "nix",
              "treefmt"
            ]
          },
          {
            "type": "string",
            "title": "CustomTestManager",
            "description": "An in-house runner, encoded as `custom:<name>`.",
            "pattern": "^custom:.+$"
          }
        ],
        "description": "The test manager that produced a result. Either a built-in manager (`cargo`, `nix`, `treefmt`) or `custom:<name>` for an in-house runner.",
        "example": "cargo"
      },
      "TestResultDoc": {
        "type": "object",
        "description": "A single test instance within a CI run.\n\nSubmitting the same `id` again replaces the existing record, so\nclients model the test lifecycle by emitting state transitions\nagainst a UUID they mint once when the test is first observed.",
        "required": [
          "id",
          "test_name",
          "run",
          "state"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable identifier for this test instance. Must be a UUIDv7\n(RFC 9562 §5.7); other UUID versions are rejected."
          },
          "rank": {
            "type": "integer",
            "format": "int32",
            "description": "Server-stamped rank within the test group, written by\n`POST /test-groups/{id}/rank`. Drives the order in which the\nrunner consumes entries via the queue endpoint. Clients may not\nsupply this field on submission; entries with `rank` set on the\nwire are rejected.",
            "nullable": true,
            "minimum": 0
          },
          "run": {
            "$ref": "#/components/schemas/Run"
          },
          "state": {
            "$ref": "#/components/schemas/TestState"
          },
          "test_group": {
            "type": "string",
            "format": "uuid",
            "description": "Optional reference to a test group this result is part of.\nWhen set, the caller's API key must have access to the group\nfor the write to be accepted. Immutable after first write — a\nresubmit cannot change which group an entry belongs to.",
            "nullable": true
          },
          "test_manager": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TestManager"
              }
            ],
            "nullable": true
          },
          "test_name": {
            "type": "string",
            "description": "Fully-qualified test name as reported by the runner."
          }
        }
      },
      "TestState": {
        "oneOf": [
          {
            "type": "object",
            "description": "Registered by the runner; has not yet started.",
            "required": [
              "discovered_at",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "discovered"
                ]
              }
            }
          },
          {
            "type": "object",
            "description": "Currently executing.",
            "required": [
              "discovered_at",
              "started_at",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "running"
                ]
              },
              "started_at": {
                "$ref": "#/components/schemas/EpochSecs"
              }
            }
          },
          {
            "type": "object",
            "description": "Completed successfully.",
            "required": [
              "discovered_at",
              "started_at",
              "finished_at",
              "duration_ms",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "duration_ms": {
                "type": "integer",
                "format": "int64",
                "description": "Millisecond-precise runtime; `started_at`/`finished_at`\nare seconds-resolution.",
                "minimum": 0
              },
              "finished_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "passed"
                ]
              },
              "started_at": {
                "$ref": "#/components/schemas/EpochSecs"
              }
            }
          },
          {
            "type": "object",
            "description": "Ran and produced a negative result.",
            "required": [
              "discovered_at",
              "started_at",
              "finished_at",
              "duration_ms",
              "failure_message",
              "stderr",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "duration_ms": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              },
              "failure_message": {
                "type": "string"
              },
              "finished_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "failed"
                ]
              },
              "started_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "stderr": {
                "type": "string"
              },
              "stdout": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "type": "object",
            "description": "Could not run to completion due to a problem outside the\ntest itself (panicked harness, missing fixture, runner\ncrash).",
            "required": [
              "discovered_at",
              "finished_at",
              "error_message",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "error_message": {
                "type": "string"
              },
              "finished_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "errored"
                ]
              },
              "started_at": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EpochSecs"
                  }
                ],
                "nullable": true
              },
              "stderr": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "type": "object",
            "description": "Skipped without running.",
            "required": [
              "discovered_at",
              "finished_at",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "finished_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "skipped"
                ]
              },
              "reason": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "type": "object",
            "description": "Cancelled by the runner (e.g. job cancellation).",
            "required": [
              "discovered_at",
              "finished_at",
              "kind"
            ],
            "properties": {
              "discovered_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "finished_at": {
                "$ref": "#/components/schemas/EpochSecs"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "cancelled"
                ]
              },
              "started_at": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EpochSecs"
                  }
                ],
                "nullable": true
              }
            }
          }
        ],
        "description": "Lifecycle state of a test instance. Each variant carries every\ntimestamp the test has reached, so transitions never lose\ninformation when the doc is overwritten on resubmit.",
        "discriminator": {
          "propertyName": "kind"
        }
      },
      "Tier": {
        "type": "string",
        "enum": [
          "starter",
          "standard",
          "monorepo"
        ]
      },
      "TierPrices": {
        "type": "object",
        "required": [
          "monthly",
          "annual"
        ],
        "properties": {
          "annual": {
            "$ref": "#/components/schemas/CurrencyPrices"
          },
          "monthly": {
            "$ref": "#/components/schemas/CurrencyPrices"
          }
        }
      },
      "Trigger": {
        "type": "string",
        "description": "What triggered a post-land check.",
        "enum": [
          "push",
          "scheduled",
          "manual"
        ]
      }
    },
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearer_auth": []
    }
  ]
}